<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itssuryansh.taaveez">

     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name=".TaaveezApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNotes"
        tools:targetApi="31">
        <activity
            android:name=".activity.Edit_Content"
            android:exported="false" />
        <activity
            android:name=".activity.WebView"
            android:exported="false" />
        <activity
            android:name=".activity.Add_New_Content"
            android:exported="true" />
        <activity
            android:name=".activity.OneTimeIntroActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Setting"
            android:exported="false" />
        <activity
            android:name=".activity.Open_Content"
            android:exported="false" />
        <activity
            android:name=".activity.About"
            android:exported="false" />
        <activity
            android:name=".activity.HomePage"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.itssuryansh.taaveez"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>